In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\asalj\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\asalj\anaconda3\lib\site-packages (from pymongo) (2.6.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo
import pandas as pd

In [4]:

myclient = pymongo.MongoClient("mongodb+srv://c24014136:Q3Mz4cgycisjEeIj@cluster0.po0zvyn.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
mydb = myclient["sample_airbnb"]
mycol = mydb["listingsAndReviews"]

documents = list(mycol.find())

df = pd.DataFrame(documents)
df[0:2]

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,guests_included,images,host,address,availability,review_scores,reviews,weekly_price,monthly_price,reviews_per_month
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,Privileged views of the Douro River and Ribeir...,Fantastic duplex apartment with three bedrooms...,"In the neighborhood of the river, you can find...",Lose yourself in the narrow streets and stairc...,Transport: • Metro station and S. Bento railwa...,We are always available to help guests. The ho...,...,6,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51399391', 'host_url': 'https://w...","{'street': 'Porto, Porto, Portugal', 'suburb':...","{'availability_30': 28, 'availability_60': 47,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '58663741', 'date': 2016-01-03 05:00:...",NaN,NaN,NaN
1,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,Lovely one bedroom + sofa-bed in the living ro...,One bedroom + sofa-bed in quiet and bucolic ne...,This charming ground floor flat is located in ...,"There´s a table in the living room now, that d...","Easy access to transport (bus, taxi, car) and ...",,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '1282196', 'host_url': 'https://ww...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 0, 'availability_60': 0, '...",{},[],1492.00,4849.00,NaN

In [6]:
df['reviews']

0       [{'_id': '58663741', 'date': 2016-01-03 05:00:...
1                                                      []
2       [{'_id': '4765259', 'date': 2013-05-24 04:00:0...
3       [{'_id': '61050713', 'date': 2016-01-31 05:00:...
4                                                      []
                              ...
5550    [{'_id': '58712074', 'date': 2016-01-03 05:00:...
5551                                                   []
5552    [{'_id': '59095547', 'date': 2016-01-06 05:00:...
5553    [{'_id': '43174613', 'date': 2015-08-17 04:00:...
5554    [{'_id': '68762225', 'date': 2016-04-06 04:00:...
Name: reviews, Length: 5555, dtype: object

In [70]:
df_basic_info = df[['_id', 'listing_url', 'name', 'property_type', 'room_type', 'bed_type']]
df_descriptions = df[['summary', 'space', 'description', 'neighborhood_overview', 'notes', 'transit', 'interaction', 'house_rules']]
df_policies = df[['minimum_nights', 'maximum_nights', 'cancellation_policy']]
df_dates = df[['last_scraped', 'calendar_last_scraped', 'first_review', 'last_review']]
df_accommodation_details = df[['accommodates', 'bedrooms', 'beds', 'bathrooms']]

df_financial_details = df[['price', 'security_deposit', 'cleaning_fee', 'extra_people', 'guests_included', 'weekly_price', 'monthly_price']]

df['street'] = df['address'].apply(lambda x: x.get('street'))
df['suburb'] = df['address'].apply(lambda x: x.get('suburb'))
df['city'] = df['address'].apply(lambda x: x.get('city'))
df['country'] = df['address'].apply(lambda x: x.get('country'))
df_location_details = df[['street', 'suburb', 'city', 'country']]

df['host_id'] = df['host'].apply(lambda x: x.get('host_id'))
df['host_url'] = df['host'].apply(lambda x: x.get('host_url'))
df_host_details = df[['host_id', 'host_url']]

df['availability_30'] = df['availability'].apply(lambda x: x.get('availability_30'))
df['availability_60'] = df['availability'].apply(lambda x: x.get('availability_60'))
df['availability_90'] = df['availability'].apply(lambda x: x.get('availability_90'))
df['availability_365'] = df['availability'].apply(lambda x: x.get('availability_365'))
df_availability = df[['availability_30', 'availability_60', 'availability_90', 'availability_365']]


reviews_data = []

for index, row in df.iterrows():
    listing_id = row['_id']
    for review in row['reviews']:
        review['listing_id'] = listing_id
        reviews_data.append(review)

# Create a DataFrame from the reviews data
reviews_df = pd.DataFrame(reviews_data)

# Convert 'date' column to datetime
reviews_df['date'] = pd.to_datetime(reviews_df['date'])

# Data Cleansing

In [9]:
df_basic_info.isnull().sum()

_id              0
listing_url      0
name             0
property_type    0
room_type        0
bed_type         0
dtype: int64

Here, there is no missing value in Basic info DataFrame.

In [71]:
df_descriptions.isnull().sum()

summary                  0
space                    0
description              0
neighborhood_overview    0
notes                    0
transit                  0
interaction              0
house_rules              0
dtype: int64

Here, there is no missing value in Description DataFrame.

In [39]:
df_policies.isnull().sum()

minimum_nights         0
maximum_nights         0
cancellation_policy    0
dtype: int64

Here, there is no missing value in Policies

In [59]:
df_host_details.isnull().sum()

accommodates    0
bedrooms        0
beds            0
bathrooms       0
dtype: int64

In [60]:
df_availability.isnull().sum()

availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [75]:
df_dates.isnull().sum()

last_scraped                0
calendar_last_scraped       0
first_review             1388
last_review              1388
dtype: int64

In this place, Missing Values occured in first_review and Lasr_review column. Now, I am using forward fill method.

In [76]:
df_dates.loc[:, 'first_review'] = df_dates['first_review'].fillna(method='ffill')
df_dates.loc[:, 'last_review'] = df_dates['last_review'].fillna(method='ffill')

In [77]:
df_dates.isnull().sum()

last_scraped             0
calendar_last_scraped    0
first_review             0
last_review              0
dtype: int64

Now, we fix it.

In [16]:
df_accommodation_details.isnull().sum()

accommodates     0
bedrooms         5
beds            13
bathrooms       10
dtype: int64

In [23]:
from bson.decimal128 import Decimal128

def decimal128_to_float(x):
    if isinstance(x, Decimal128):
        return float(x.to_decimal())
    return x

# Apply conversion function to each column using .loc to avoid SettingWithCopyWarning
df.loc[:, 'accommodates'] = df['accommodates'].apply(decimal128_to_float).astype(float)
df.loc[:, 'bedrooms'] = df['bedrooms'].apply(decimal128_to_float).astype(float)
df.loc[:, 'beds'] = df['beds'].apply(decimal128_to_float).astype(float)
df.loc[:, 'bathrooms'] = df['bathrooms'].apply(decimal128_to_float).astype(float)

# Fill missing values with the mean of each column using .loc
df.loc[:, 'accommodates'].fillna(df['accommodates'].mean(), inplace=True)
df.loc[:, 'bedrooms'].fillna(df['bedrooms'].mean(), inplace=True)
df.loc[:, 'beds'].fillna(df['beds'].mean(), inplace=True)
df.loc[:, 'bathrooms'].fillna(df['bathrooms'].mean(), inplace=True)

There is a missing values in  accommodation DataFrame. So I fill the values with mean values. In this spot, 'bathrooms' columns have decimal values. I convert it into float.

In [61]:
df_accommodation_details.isnull().sum()

accommodates    0
bedrooms        0
beds            0
bathrooms       0
dtype: int64

In [41]:
reviews_df.isnull().sum()

_id              0
date             0
listing_id       0
reviewer_id      0
reviewer_name    1
comments         8
dtype: int64

In [45]:
reviews_df['reviewer_name'] = reviews_df['reviewer_name'].fillna(method='ffill')
reviews_df['comments'] = reviews_df['comments'].fillna(method='ffill')

In [62]:
reviews_df.isnull().sum()

_id              0
date             0
listing_id       0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

In [47]:
df_location_details.isnull().sum()

street        0
suburb        0
city       5555
country       0
dtype: int64

In [51]:
df_location_details = df_location_details.dropna(subset=['city'])

In [52]:
df_location_details.isnull().sum()

street     0.0
suburb     0.0
city       0.0
country    0.0
dtype: float64

# EDA ( Exploratory Data Analysis)

There are the dataframes:
df_basic_info
df_descriptions
df_policies 
df_dates 
df_accommodation_details 
df_financial_details
df_location_details
df_host_details
df_availability

## We are going to obtain fundamental information regarding DataFrames.

In [79]:
df_accommodation_details[0:2]

   accommodates  bedrooms  beds  bathrooms
0           8.0       3.0   5.0        1.0
1           4.0       1.0   2.0        1.0